body {
    margin-top: 45px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: turquoise;
}

li {
    float: left;
}

li a, .dropk{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px;
}

li a:hover, .drp:hover .dropk{
    background-color: yellowgreen;
}

li.drp {
    display: inline-block;
}

.dropcont{
    display: none;
    position: absolute;
    min-width: 100px;
    background-color: turquoise;
    z-index: 1;
}

.dropcont a{
    padding: 12px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.dropcont a:hover {
    background-color:yellowgreen;
    margin: 0px;
    color: red;
}

.drp:hover .dropcont{
    display: block;
}

@media screen and min-width(1000px){
    ul{
        float: left;
        width: 50px;
        position: relative;
    }
}